<!DOCTYPE html>
<html>
<head>
  <title>Voltron</title>
  
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
  
  <!-- ACE -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/mode-javascript.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/theme-textmate.js"></script>
  
  <!-- VUE -->
  <script src="https://unpkg.com/vue"></script>
  
  <!-- BOOTSTRAP -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <!-- VOLTRON -->
  <link rel="stylesheet" href="bootstrap-flatly.css"/>
  <link rel="stylesheet" href="voltron.css"/>
  <script src="https://firepad.io/releases/v1.5.9/firepad.min.js"></script>
  
</head>
<body onload="init()">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Voltron</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
  </nav>
  
  <br>
  
  <div id="voltron-body" class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-12 col-md-8 col-sm-4">
          <h1 class="d-inline">CSE 230</h1>
          <button v-if="allGroupBuffers" type="button" class="btn btn-success btn-lg float-right">Instructor</button>
          <button v-if="studentBuffer"   type="button" class="btn btn-info    btn-lg float-right">Student</button>
        </div>
      </div>
    </div>
    
    <br>
    
    <div v-if="allGroupBuffers" class="row">
      <template v-for="item in allGroupBuffers">
        <div class="col-lg-4 col-md-4">
          <div class="card border-primary mb-4">
            <div class="card-header"> Group {{ item.id }} </div>
            <div class="card-body">
              <div v-bind:id="editorDiv(item)"></div>
            </div>
          </div>
        </div> 
      </template>
    </div>
    
    <div v-if="studentBuffer" class="row">
      <div class="col-lg-12 col-md-8 col-sm-4">
        <div class="card border-primary mb-12">
          <div class="card-header"> Group {{ studentBuffer.id }} </div>
          <div class="card-body">
            <div v-bind:id="editorDiv(studentBuffer)"></div>
          </div>
        </div>
      </div> 
    </div>
    
  </div>
  
</div>

<script>
  //Initialize Firebase.
  //TODO: replace with your Firebase project configuration.
  var config = {
    apiKey: '<API_KEY>',
      authDomain: "firepad-tests.firebaseapp.com",
      databaseURL: "https://firepad-tests.firebaseio.com"
    };
    firebase.initializeApp(config);
    
    
    function codeBufferDiv(buf){ 
      return "editor-" + buf.id;
    }
    
    function getFirepadRef(buf){
      var ref = firebase.database().ref();
      ref = ref.child(buf.hash);
      return ref;
    }
    
    var voltronJSON = 
    { el: "#voltron-body", 
    data: { 
      allGroupBuffers: 
      [ { id : 0, hash : "-M9Kx-cxRIUgCqVCtjCr", text : "-- Code for group 0\n" }
      , { id : 1, hash : "-M9L5YBS0kgvUfuz0Ckc", text : "-- Code for group 1\n" }
      , { id : 2, hash : "-M9L5oPt0fsruy16vntv", text : "-- Code for group 2\n" }
      , { id : 3, hash : "-M9L5vCVa5FQ0noobA9V", text : "-- Code for group 3\n" }
      , { id : 4, hash : "-M9L6XICO2mz_yfpDXWR", text : "-- Code for group 4\n" }
      , { id : 5, hash : "-M9L6nLdsLy_7aXIs4MX", text : "-- Code for group 5\n" }
      ],
      // studentBuffer: 
      //   { id : 2, hash : "-M9L5oPt0fsruy16vntv", text : "-- Code for group 2\n" }
    },
    methods: { 
      editorDiv: codeBufferDiv  
    }
  };
  
  var app = new Vue(voltronJSON);
  
  function initBuf(buf) {
    var div    = codeBufferDiv(buf);
    var editor = ace.edit(div);
    editor.setTheme("ace/theme/textmate");
    editor.getSession().setMode("ace/mode/haskell");
    editor.setOptions({
      maxLines: 10,
      minLines: 10 
    });
    var firepadRef = getFirepadRef(buf);
    var firepad = Firepad.fromACE(firepadRef, editor, { 
      defaultText: '-- Haskell editing with Firepad!\ninc :: Int -> Int\ninc x = x + 1'
    });
  }
  
  function init(){
    
    // instructor
    if (voltronJSON.data.allGroupBuffers) {
      for (buf of voltronJSON.data.allGroupBuffers) {
        initBuf(buf);
      }
    }
    
    // student 
    if (voltronJSON.data.studentBuffer) {
      initBuf(voltronJSON.data.studentBuffer);
    }
  }
</script>
</body>
</html>
