{
  "subject": "Invitation to join Social Distancing",
  "from": "no-reply@goto.ucsd.edu",
  "bodyHtml": "http://ip?invitation?code={{invitationId}}.{{invitationCode}}",
  "bodyPlain": "http://ip?invitation?code={{invitationId}}.{{invitationCode}}"
}